<%= render partial: "administrative/shared/index_heading", 
locals: {title: "Receitas", button_title: "Nova Receita", link: new_administrative_recipe_path} %>

<div class="col-lg-12">
    <div class="row">
        <div class="col-md-12">
            <div class="table-responsive">
                <table class="datatable table table-striped table-bordered table-hover" style="width: 100%">
                    <thead>
                    <tr>   
                        <th>ID</th>
                        <th>Nome</th>
                        <th>Preço</th>
                        <th>Ações</th>
                    </tr>
                    </thead>
                    <tbody>
                    <% @recipes.each do |recipe| %>
                    <tr>
                        <td><%= recipe.id %></td>
                        <td><%= recipe.name %></td>
                        <td><%= recipe.price %></td>
                        <td>
                            <%= link_to edit_administrative_recipe_path(recipe), class: "btn btn-info btn-circle" do %>
                                <i class="fa fa-pencil"></i>
                            <% end %>
                            
                            <%= link_to administrative_recipe_path(recipe), method: :delete, data: {confirm: "Tem certeza?"}, class: "btn btn-danger btn-circle" do %>
                                <i class="fa fa-times"></i>
                            <% end %>
                        </td>
                    </tr>
                    <% end %>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>