<div class="row">
    <div class="col-lg-12">
        <div class="wrapper wrapper-content">
            <div class="ibox">
                <div class="ibox-title">
                    <h2>Editar Perfil</h2>
                </div>
                <div class="ibox-content">
                    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
                    <%= render "devise/shared/error_messages", resource: resource %>

                    <div class="row">
                        <div class="col-md-3">
                            <div class="form-group">
                                <%= f.label :email %><br />
                                <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %>
                            </div>
                        </div>
                    </div>

                    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
                        <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
                    <% end %>

                    <div class="row">
                        <div class="col-md-3">
                            <div class="form-group">
                                <%= f.label :password %> <br><i>(deixe em branco para não alterá-la)</i><br />
                                <%= f.password_field :password, autocomplete: "new-password", class: "form-control" %>
                                <% if @minimum_password_length %>
                                    <em>No mínimo <%= @minimum_password_length %> caracteres</em>
                                <% end %>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-3">
                            <div class="form-group">
                                <%= f.label :password_confirmation %><br />
                                <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control" %>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-3">
                            <div class="form-group">
                                <%= f.label :current_password %> <br />
                                <%= f.password_field :current_password, autocomplete: "current-password", class: "form-control" %>
                            </div>
                        </div>
                    </div>
                    
                    <div class="actions">
                        <%= f.submit "Atualizar", class: "btn btn-primary" %>
                    </div>
                    <% end %>

                    <h3>Cancelar minha conta</h3>

                    <p><%= button_to "Cancelar", registration_path(resource_name), class: "btn btn-danger",data: { confirm: "Tem certeza? Essa ação não pode ser desfeita!" }, method: :delete %></p>
                </div>
            </div>
        </div>
    </div>
</div>
