<div class="footer">
    <div class="float-right">
        Versão 1.0.0 - setembro de 2019
    </div>
    <div>
        Desenvolvido por <a href="http://gtijr.com/" target='_blank'>GTi Jr</a> 
    </div>
</div>
