<nav class="navbar-default navbar-static-side" role="navigation">
  <div class="sidebar-collapse">
    <ul class="nav metismenu" id="side-menu">
      <li class="nav-header">
        <%#= image_tag 'servita_logo.png', class: 'img-fluid' %>
      </li>
      <li>
        <%= link_to root_path do %>
          <i class="fa fa-home"></i> <span class="nav-label">Início</span>
        <% end %>
      </li>
      <li>
        <%= link_to administrative_admins_path do %>
          <i class="fa fa-user"></i> <span class="nav-label">Administradores</span>
        <% end %>
      </li>
      <li>
        <%= link_to administrative_recipes_path do %>
          <i class="fa fa-user"></i> <span class="nav-label">Exemplo Cocoon</span>
        <% end %>
      </li>
      <li>
          <%= link_to destroy_admin_session_path do %>
              <i class="fa fa-sign-out"></i> <span>Logout</span>
          <% end %>
      </li>
    </ul>

  </div>
</nav>