/* Only demo */
@media (max-width: 1000px) {
    .welcome-message {
      display: none;
    }
  }

  /* centralize image */
  .image-center{
    margin: 0 auto;
  }
  .custom-file-label::after {
    content: "Selecionar"
  }
  /* white text*/
  .text-white{
    color: #fff;
  }

  /* extra small image*/
  .img-xs{
    width: 20px;
    height: 20px;
  }

  .img-sidebar{
    width: 48px;
    height: 48px;
  }
