<div class="row">
    <% if resource.errors.any? %>
    <div id="error_explanation">
        <h2><%= pluralize(resource.errors.count, "erro(s)") %> Proibiram o cadastro:</h2>
        <ul>
        <% resource.errors.full_messages.each do |message| %>
        <li><%= message %></li>
        <% end %>
        </ul>
    </div>
    <% end %>
</div>