<div class="middle-box text-center loginscreen  animated fadeInDown auth-box">
  <h2>Defina sua senha</h2>

  <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
    <%= render "administrative/shared/error_messages", resource: resource %>
    <%= f.hidden_field :reset_password_token %>

    <div class="field">
      <% if @minimum_password_length %>
        <em>(No mínimo <%= @minimum_password_length %> caracteres)</em><br />
      <% end %>
      <%= f.password_field :password, autofocus: true, autocomplete: "new-password", class: "form-control", placeholder: "Nova Senha" %>
    </div>
  <br>
    <div class="field">
      <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control", placeholder: "Confirme sua senha" %>
    </div>
  <br>
    <div class="actions">
      <%= f.submit "Definir minha senha", class: "btn btn-primary" %>
    </div>
  <% end %>

  <%= render "admins/shared/links" %>
</div>