<!-- Imagem de background do login -->
<!--div style="background: url('<%#= asset_path 'login-background.jpg' %>') top center ; background-size: cover; background-repeat: no-repeat; width:100%; height:100%"-->
<div class="middle-box text-center loginscreen  animated fadeInDown auth-box">
  <div>
    <h3>Esqueceu sua senha?</h3>
      <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
        <div class="form-group">
          <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "seu@email.com", class: "form-control" %>
        </div>

        <%= f.submit "Enviar instruções de troca de senha", class: "btn btn-primary" %>

      <% end %>
      <p class="m-t"> <small>Desenvolvido por GTi Engenharia Jr</small> </p>

      <%= render "admins/shared/links" %>
    </div>
  </div>
</div>

